/* @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Prata&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,800&display=swap');


body {
	background-color: #1c2331;
}

#max-width {
	max-width: 1200px;
}

header {
	max-width: 1200px;
	margin: auto;
	height: 70px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 3
}

#menu-botao {
	font-size: 30px;
}
/* #header {
	background: #02577a;
	color: white;
} */

main {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
}

header li {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: center;
	font-size: 16px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: justify;
	letter-spacing: 2px;
	font-size: 20px;
	/* text-shadow: 1px 1px 1px black; */
}
.container-fluid {
    max-width: 100vw;
	margin: 0;
	padding: 0;

}
.botao_saiba_mais {
	color: white;
	padding: 5px 15px 5px 15px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }
  /* .botao_saiba_mais a:hover {
	text-decoration: none;
	color: #fff;
  }
  */
  #fale-conosco {
	-webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    bottom: 25px;
    width: 245px;
    height: 50px;
    
    border-radius: 36px;
    border: 2px solid rgb(255, 255, 255);
    right: 50%;
    z-index: 10;
    transform: translateX(50%);
	text-align: center;
	padding-top: 10px;
}


#fale-conosco a:link, a:visited, a:active {

	text-decoration: none;
	font-weight: 500;
	color: #fff;
	
}

#fale-conosco a:hover {
	text-decoration: none;
	font-weight: 500;
	color: #fff;
}

#fale-conosco i {
	font-size: 20px;
}

#btn-close-custom {
    position: absolute;
    right: 20px;
}
img{
	max-width: 100%;
}

.gallery {
	background-color: #403863;
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}

/* contato */
body {
	background: #e8e8e8;
}
.form-area {
	padding-top: 2%;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	padding: 100px 98px;
}
.left h2 {
	font-family: 'Prata', serif;
	color: #fff;
	font-size: 40px;
}
.left h1 {
	font-family: 'Italiana', serif;
	color: #fff;
	font-size: 30px;
}
.single-form{
    background: #fff;
}
.right {
	padding: 50px 50px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}
.form-control {
	border: 2px solid #000;
}
.right button {
	border: none;
	border-radius: 0;
	background: #252525;
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover{
    background-color: #252525;
}



/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 50px 15px;
  text-align: center;
}

.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
.right button {
    width: 150px;
	padding: 12px 0;
}   
}
footer {
	/* max-width: 1200px; */
}

footer a, a:active, a:visited {
	text-decoration: none;
	color: #fff;
}
footer a:hover {
	color: #fff;
}

/* .background {
	background-color: #1c2331;
} */

@media (min-width:768px) {
header li { font-size: 1em;}
}

/* #bairro p {
	color: #fff;
}
#bairro h2 {
	color: #fff;
} */

#carousel-text {
	/* background-color: #252525b2; */
	margin: auto;
}

#carousel-text p {
	font-weight: 500;
	color: #fff;
	line-height: 2.5;
	margin-bottom: 2em;

}
#carousel-text h5 a {
	font-weight: 600;
	margin-bottom: 1em;
	text-align: left;
	line-height: 1.5;
	font-size: 40px;
	text-shadow: 5px 5px 5px #000;
	text-decoration: none;
}
button a, a:active, a:visited {
	text-decoration: none;
	color: #fff;
}
button a:hover {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

#voltar {
	border-color: #fff;

}

.carousel-caption-largura {
		position: absolute;
		right: 0%;
		bottom: 1.25rem;
		left: 0%;
		top: 30%;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		color: #fff;
		text-align: center;
}
@media screen and (max-width: 1089px) and (min-width: 768px) {
	.carousel-caption-largura {
		position: absolute;
		right: 0%;
		bottom: 1.25rem;
		left: 0;
		top: 5%;
		padding-top: 1.25rem;
		padding-bottom: 0.25rem;
		color: #fff;
		text-align: center;
	}
	#carousel-text p {
		font-weight: 400;
		color: #fff;
		line-height: 2;
		margin-bottom: 2em;
	}
	#carousel-text h5 {
		font-weight: 600;
		color: #fff;
		margin-bottom: 1em;
		text-align: left;
		line-height: 1.25;
		font-size: 40px;
	}
}

@media (min-width:1090px) {
	.carousel-caption-largura {
		position: absolute;
		right: 0%;
		bottom: 1.25rem;
		left: 0;
		top: 20%;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		color: #fff;
		text-align: center;
	}
}

.carousel-text p {
	text-align: center;
}

/* Contato */

/* #hero {
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: relative;
  } */
  
  /* @media (min-width: 1024px) {
	#hero {
	  background-attachment: fixed;
	}
  } */
  
  /* #hero:before {
	content: "";
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
  } */
  
  #contato {
	/* background: rgba(0, 0, 0, 0.2); */
  }

  #hero .hero-container {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
  }
  
  #hero h1 {
	margin: 30px 0 10px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	text-transform: uppercase;
	color: #fff;
  }
  
  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
  }
  
  #hero h2 {
	color: #eee;
	margin-bottom: 50px;
	font-size: 24px;
  }
  
  @media (max-width: 768px) {
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
  }
  
  #hero .btn-get-started {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid #fff;
	color: #fff;
  }
  
  #hero .btn-get-started:hover {
	background: #4e0000;
	border: 2px solid #4e0000;
  }



  /* fade in */
  .fade-in {
	opacity: 0;
	animation: fadeIn 3s ease 1.5s forwards;
  }
  @keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }

/*DESCRIÇÃO DO IMÓVEL */

#descricao {
	width: 100%;
	text-align: left;
}

#descricao h2, h3, h4, h5 {
	text-align: left;
}

#descricao h2 {
	font-weight: 600;
	margin-bottom: 1em;
	padding: 0 10px;
}

#descricao h3 {
	font-weight: 500;
	font-size: 16px;
	padding: 0 10px;
}

#descricao h4 {
	font-weight: 200;
	font-size: 1em;
	padding: 0 10px;
}

#descricao h5 {
	font-weight: 600;
	font-size: 1.3em;
	padding: 0 10px;
}

#descricao p {
	padding: 0 10px 0 10px;
	text-align: left;
}

#descricao strong {
	font-weight: 600;
}

.informacao {
	display: flex;
    -webkit-box-align: center;
    padding: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    /* min-height: 240px; */
}


.melhores {
	width: 75%;
	margin: 40px auto;
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 7px 7px 15px #333;
}

.motivos {
	width: 81%;
	margin: 40px auto;
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 7px 7px 15px #333;
	min-height: 410px;
}


.motivos p {
	padding: 20px 30px;
	text-align: left;
	font-weight: 500;
	font-size: 16px;
}

.motivos h2 {
	font-weight: 800;
	padding: 20px 20px 0 27px;
	font-size: 25px;
	margin-bottom: 0.3em;
}

#pq_curtimos h1 {
	font-weight: 800;
	color: #212529;
	padding: 10px 20px;
	font-size: 60px;
}

#pq_curtimos strong {
	color: #ddd;
}

#sonhar h1 {
	font-weight: 800;
	color: #212529;
	padding: 10px 20px;
	font-size: 60px;
}


.sonhar_verde strong {
	color: #2eaf7d
}
#procura h1 {
	font-weight: 600;
	color: #212529;
	padding: 10px 20px;
	font-size: 30px;
}

#menu li a {
	color: #212529;
}

#formulario h2 {
	font-weight: 800;
	padding: 0 20px 0 27px;
	font-size: 30px;
	margin-bottom: 0.3em;
}

#formulario p {
		padding: 20px 30px 0 0;
		text-align: justify;
		font-weight: 500;
		color: #212529;
}

/* CORES */

.fundo {
	background-color: #fff;
}

.cinza {
	background: #28282883;
}

.card-body p {
	font-weight: 400;
	font-size: 1em;
	text-align: left;
	line-height: 200%;
}

.card img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* LARANJA */

.laranja {
	background: #ee6900;
}
.texto_laranja h2 {
	color: #ee6900;
}

.texto_laranja h5 a {
	color: #ee6900;
}

.laranja_complementar {
	/* background-color: #212529; */
	background: rgb(193,193,193);
	background: linear-gradient(210deg, rgba(193,193,193,1) 7%, rgba(253,253,253,1) 43%, rgba(168,168,168,1) 74%);
}
.borda_laranja {
	/* border-bottom: 2px solid #999; */
	border-bottom: 1px solid;
  	border-image: linear-gradient(45deg, rgba(193,193,193,1) 7%, rgba(253,253,253,1) 43%, rgba(168,168,168,1) 74%) 1;
}
.texto_laranja_complementar {
	/* color: #fff; */
	color: #282828;
	font-weight: 600;
}

.texto_chamada_laranja a:hover {
	color: #ee6900;
}
.texto_chamada_laranja a, a:active {
	color: #fff;
}

.sonhar_laranja strong {
	color: #ee6900;
}

/* ROXO
 */
.roxo {
	background: #b100cd;
}
.texto_roxo h2 {
	color: #b100cd;
}

.texto_roxo h5 a {
	color: #b100cd;
}

.roxo_complementar {
	background: rgb(193,193,193);
	background: linear-gradient(210deg, rgba(193,193,193,1) 7%, rgba(253,253,253,1) 43%, rgba(168,168,168,1) 74%);
}

.borda_roxo {
	border-bottom: 1px solid;
  	border-image: linear-gradient(45deg, rgba(193,193,193,1) 7%, rgba(253,253,253,1) 43%, rgba(168,168,168,1) 74%) 1;
}

.texto_roxo_complementar {
	color: #282828;
	font-weight: 600;
}

.texto_chamada_roxo a:hover {
	color: #b100cd;
}

.texto_chamada_roxo a, a:active {
	color: #fff;
}

.sonhar_roxo strong {
	color: #b100cd;
}

/* VERDE */
.verde {
	background: #2eaf7d;
}
.texto_verde h2 {
	color: #2eaf7d;
}

.texto_verde h5 a {
	color: #2eaf7d;
}

.verde_complementar {
	background: rgb(193,193,193);
	background: linear-gradient(210deg, rgba(193,193,193,1) 7%, rgba(253,253,253,1) 43%, rgba(168,168,168,1) 74%);
}

.borda_verde {
	border-bottom: 1px solid;
  	border-image: linear-gradient(45deg, rgba(193,193,193,1) 7%, rgba(253,253,253,1) 43%, rgba(168,168,168,1) 74%) 1;
}

.texto_verde_complementar {
	color: #282828;
	font-weight: 600;
}

.texto_chamada_verde a:hover {
	color: #2eaf7d;
}

.texto_chamada_verde a, a:active {
	color: #fff;
}

.sonhar_verde strong {
	color: #2eaf7d;
}

/* AZUL */

.azul {
	background: #2ea7fd;
}
.texto_azul h2 {
	color: #2ea7fd;
}

.texto_azul h5 a {
	color: #2ea7fd;
}

.azul_complementar {
	background: rgb(193,193,193);
	background: linear-gradient(210deg, rgba(193,193,193,1) 7%, rgba(253,253,253,1) 43%, rgba(168,168,168,1) 74%);
}

.borda_azul {
	border-bottom: 1px solid;
  	border-image: linear-gradient(45deg, rgba(193,193,193,1) 7%, rgba(253,253,253,1) 43%, rgba(168,168,168,1) 74%) 1;
}

.texto_azul_complementar {
	color: #282828;
	font-weight: 600;
}

.texto_chamada_azul a:hover {
	color: #2ea7fd;
}

.texto_chamada_azul a, a:active {
	color: #fff;
}

.sonhar_azul strong {
	color: #2ea7fd;
}

/* Fim das cores */

.link_preto {
	color: #000;
}
#vendido {
	z-index: 10;
	position: fixed;
	top: 0px;
	left: 0px;
	max-width: 80%;
}

.motivos_venda {
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow:  8px 8px 16px #8f8f8f,
             -8px -8px 16px #ffffff;
}

.altura_max {
	height: 100px;
	width: 100%;
	background-color: #000;
}

.borda {
	border-radius: 15px;
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.capa_empreendimento {
	position: relative;
	height: 50vh;
	/* background: rgb(46,167,253);
background: linear-gradient(180deg, rgba(46,167,253,1) 0%, rgba(255,255,255,1) 100%); */
	background: rgb(46,167,253);
	background: linear-gradient(180deg, rgba(46,167,253,1) 0%, rgba(19,122,222,0.8099614845938375) 47%, rgba(255,255,255,1) 100%);
	margin-bottom: 10vh;
	max-width: 1200px;
}

.titulo_capa_empreendimento {
	position: absolute;
	z-index: 2;
	left: 5%;
	top: 20%;
}

.titulo_capa_empreendimento h6 {
	font-size: 4em;
	color: #fff;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.521);
}

.img_capa_empreendimento img {
	position: absolute;
	right: 10%;
	top: 10%;
	max-height: 95%;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.521);
}

.info_empreendimento {
	margin: 10px auto;
	padding: 0 10%;
}

.info_empreendimento p {
	font-size: .7em;
	text-align: left;
	font-weight: 600;
	padding-left: 1vw;
}

.info_empreendimento i {
	font-size: 1.5em;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}

#oEmpreedimento {
	width: 100%;
	background-color: #000;
	background-image: url(img/splendor/capa_empreendimento.jpg);
	margin-bottom: .5em;
}

#oEmpreedimento h2 {
	font-size: 2em;
	color: #fff;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 0;
	margin-bottom: 0;
	text-shadow: 5px 5px 5px #000;
}

#oEmpreedimento button {
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 2em;
}

#o_empreendimento {
	border-radius: 5px;
	width: 96%;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow:  2px 2px 6px #bebebe,
             -2px -2px 6px #ffffff;
}
.box_shadow {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.582);
}
.gradiente {
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
	opacity: 1;
}

#oPredio {
	width: 100%;
	background-color: #000;
	background-image: url(img/splendor/capa_predio.jpg);
	margin-bottom: .5em;
	
}

#oPredio h2 {
	font-size: 2em;
	color: #fff;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 0;
	margin-bottom: 0;
	text-shadow: 5px 5px 5px #000;
}

#oPredio button {
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 2em;
}

#o_predio {
	border-radius: 5px;
	width: 96%;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow:  2px 2px 6px #bebebe,
             -2px -2px 6px #ffffff;
}

#a_sacasa {
	border-radius: 5px;
	width: 96%;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow:  2px 2px 6px #bebebe,
             -2px -2px 6px #ffffff;
}

#aSacada {
	width: 100%;
	background-color: #000;
	background-image: url(img/splendor/capa_sacada.jpg);
	margin-bottom: .5em;
}

#aSacada h2 {
	font-size: 2em;
	color: #fff;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 0;
	margin-bottom: 0;
	text-shadow: 5px 5px 5px #000;
}

#aSacada button {
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 2em;
}

#oBairro {
	width: 100%;
	background-color: #000;
	background-image: url(img/splendor/capa_oBairro2.jpg);
	margin-bottom: .5em;
	
	
}

#oBairro h2 {
	font-size: 2em;
	color: #fff;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 0;
	margin-bottom: 0;
	text-shadow: 5px 5px 5px #000;
}

#oBairro button {
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 2em;
}

#o_bairro {
	border-radius: 5px;
	width: 96%;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow:  2px 2px 6px #bebebe,
             -2px -2px 6px #ffffff;
}

#apartamentoModelo {
	width: 100%;
	background-color: #000;
	background-image: url(img/splendor/capa_modelo.jpg);
	margin-bottom: .5em;
}

#apartamentoModelo h2 {
	font-size: 2em;
	color: #fff;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 0;
	margin-bottom: 0;
	text-shadow: 5px 5px 5px #000;
}

#apartamentoModelo button {
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 2em;
}

#apartamento_modelo {
	border-radius: 5px;
	width: 96%;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow:  2px 2px 6px #bebebe,
             -2px -2px 6px #ffffff;
}


/* Switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #027c08;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #027c08;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }