/* @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Prata&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,800&display=swap');

body {
	background-color: #1c2331;
}

#max-width {
	max-width: 1200px;
}

header {
	max-width: 1200px;
	margin: auto;
	height: 70px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 3
}

#menu-botao {
	font-size: 30px;
}
#header {
	background: #02577a;
	color: white;
}

main {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
}

header li {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: center;
	font-size: 3vw;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: justify;
	letter-spacing: 2px;
	/* text-shadow: 1px 1px 1px black; */
}
.container-fluid {
    max-width: 100vw;
	margin: 0;
	padding: 0;

}
.orange-button {
	background-color: #ee6900;
	color: white;
	padding: 5px 15px 5px 15px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }
  .orange-button a:hover {
	text-decoration: none;
	color: #fff;
  }
 
  #fale-conosco {
	-webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    bottom: 25px;
    width: 245px;
    height: 50px;
    background: rgb(238, 105, 0);
    border-radius: 36px;
    border: 2px solid rgb(255, 255, 255);
    right: 50%;
    z-index: 10;
    transform: translateX(50%);
	text-align: center;
	padding-top: 10px;
}

#fale-conosco a:link, a:visited, a:active {

	text-decoration: none;
	font-weight: 500;
	color: #fff;
	
}

#fale-conosco a:hover {
	text-decoration: none;
	font-weight: 500;
	color: #fff;
}

#fale-conosco i {
	font-size: 20px;
}

#btn-close-custom {
    position: absolute;
    right: 20px;
}
img{
	max-width: 100%;
}

.gallery {
	background-color: #403863;
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}

/* contato */
body {
	background: #e8e8e8;
}
.form-area {
	padding-top: 7%;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	padding: 200px 98px;
}
.left h2 {
	ffont-family: 'Prata', serif;
	color: #fff;
	font-size: 40px;
}
.left h1 {
	font-family: 'Italiana', serif;
	color: #fff;
	font-size: 30px;
}
.single-form{
    background: #fff;
}
.right {
	padding: 70px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}
.form-control {
	border: 2px solid #000;
}
.right button {
	border: none;
	border-radius: 0;
	background: #252525;
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover{
    background-color: #252525;
}



/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}

.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
.right button {
    width: 150px;
	padding: 12px 0;
}   
}

footer a, a:active, a:visited {
	text-decoration: none;
	color: white;
}
footer a:hover {
	color: white;
}

/* .background {
	background-color: #1c2331;
} */

@media (min-width:768px) {
header li { font-size: 1em;}
}

#bairro p {
	color: #fff;
}
#bairro h2 {
	color: #fff;
}

#carousel-text {
	/* background-color: #252525b2; */
	margin: auto;
}

#carousel-text p {
	font-weight: 500;
	color: #fff;
	line-height: 2.5;
	margin-bottom: 2em;

}
#carousel-text h5 a {
	font-weight: 600;
	color: #ee6900;;
	margin-bottom: 1em;
	text-align: left;
	line-height: 1.5;
	font-size: 40px;
	text-shadow: 5px 5px 5px #000;
	text-decoration: none;
}
button a, a:active, a:hover, a:visited {
	text-decoration: none;
	color: #fff;
}

#voltar {
	background-color: #ee6900;
	border-color: #fff;

}

.carousel-caption-largura {
		position: absolute;
		right: 0%;
		bottom: 1.25rem;
		left: 0%;
		top: 30%;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		color: #fff;
		text-align: center;
}
@media screen and (max-width: 1089px) and (min-width: 768px) {
	.carousel-caption-largura {
		position: absolute;
		right: 0%;
		bottom: 1.25rem;
		left: 0;
		top: 5%;
		padding-top: 1.25rem;
		padding-bottom: 0.25rem;
		color: #fff;
		text-align: center;
	}
	#carousel-text p {
		font-weight: 400;
		color: #fff;
		line-height: 2;
		margin-bottom: 2em;
	}
	#carousel-text h5 {
		font-weight: 600;
		color: #fff;
		margin-bottom: 1em;
		text-align: left;
		line-height: 1.25;
		font-size: 40px;
}
}

@media (min-width:1090px) {
	.carousel-caption-largura {
		position: absolute;
		right: 0%;
		bottom: 1.25rem;
		left: 0;
		top: 20%;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		color: #fff;
		text-align: center;
}
}

.carousel-text p {
	text-align: center;
}

/* Contato */

/* #hero {
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: relative;
  } */
  
  /* @media (min-width: 1024px) {
	#hero {
	  background-attachment: fixed;
	}
  } */
  
  /* #hero:before {
	content: "";
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
  } */
  
  #contato {
	background: rgba(0, 0, 0, 0.6);
  }

  #hero .hero-container {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
  }
  
  #hero h1 {
	margin: 30px 0 10px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	text-transform: uppercase;
	color: #fff;
  }
  
  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
  }
  
  #hero h2 {
	color: #eee;
	margin-bottom: 50px;
	font-size: 24px;
  }
  
  @media (max-width: 768px) {
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
  }
  
  #hero .btn-get-started {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid #fff;
	color: #fff;
  }
  
  #hero .btn-get-started:hover {
	background: #4e0000;
	border: 2px solid #4e0000;
  }



  /* fade in */
  .fade-in {
	opacity: 0;
	animation: fadeIn 4s ease 2.5s 1 forwards;
  }
  @keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }

/*DESCRIÇÃO DO IMÓVEL */

#descricao {
	background-color: #212529;
	color: #fff;
	width: 100%;
	text-align: left;
}
#descricao h2, h3, h4, h5 {
	text-align: left;
}

#descricao h2 {
	font-weight: 600;
	margin-bottom: 1em;
	padding: 0 10px;
}

#descricao h3 {
	font-weight: 300;
	font-size: 1em;
	padding: 0 10px;
}

#descricao h4 {
	font-weight: 200;
	font-size: 1em;
	padding: 0 10px;
}

#descricao h5 {
	font-weight: 600;
	font-size: 1.3em;
	padding: 0 10px;
}

#descricao p {
	padding: 0 10px 0 10px;
	text-align: justify;
}

#descricao strong {
	font-weight: 600;
}

.informacao {
	display: flex;
    -webkit-box-align: center;
    padding: 20px;
    border-bottom: 2px solid #999;
    flex-wrap: wrap;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    /* min-height: 240px; */
}

.motivos {
	width: 350px;
	margin: 40px auto;
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 7px 7px 15px #333;
	min-height: 410px;
}

.motivos p {
	padding: 20px 30px;
	text-align: left;
	font-weight: 500;
}

.motivos h2 {
	font-weight: 800;
	color: #ee6900;
	padding: 20px 20px 0 27px;
	font-size: 1.5em;
	margin-bottom: 0.3em;
}

.curtimos {
	background-color: #ee6900;
}

#pq_curtimos h1 {
	font-weight: 800;
	color: #212529;
	padding: 10px 20px;
	font-size: 3.3em;
}



#pq_curtimos strong {
	color: #ddd;
}

#menu li a {
	color: #000;
}

#formulario h2 {
	font-weight: 800;
	color: #ee6900;
	padding: 0 20px 0 27px;
	font-size: 1.5em;
	margin-bottom: 0.3em;
}

#formulario p {
		padding: 20px 30px;
		text-align: justify;
		font-weight: 500;
		color: #fff;
}