@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body {
    max-width: 1200px;
}

#header {
    background-image: url(img/background.png);
    padding: 15vh 0;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 200px;
    display: block;
    margin-bottom: 350px;
}

h2 {
    font-family: 'Didact Gothic', sans-serif;
    color: #683c16;
    font-size: 0.5em;
    
}

.info {
    background: #683c16;
}

.botao_saiba_mais {
	color: white;
	padding: 5px 15px 5px 15px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  #predio {
    width: 100%;
  }

  .container-fluid {
    max-width: 100vw;
	margin: 0;
	padding: 0;

}
.botoes {
    padding-top: 10em;
}

#fale-conosco2 a:link, a:visited, a:active {

	text-decoration: none;
	font-weight: 500;
	color: #fff;
	
}

#fale-conosco2 a:hover {
	text-decoration: none;
	font-weight: 800;
	color: #fff;
}

#fale-conosco2 i {
	font-size: 40px;
	color: #027c08;
}

#fale-conosco2 {
	-webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    bottom: 250px;
    width: 60px;
    height: 60px;
	background-color: #ffffffce;
    
    right: 10%;
    z-index: 10;
    transform: translateX(50%);
	text-align: center;
	padding-top: 10px;
	border-radius: 15%;
}
footer {
    background-color: #683c16;
    text-align: center;
    height: 40px;
    margin-top: 20px;
}

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 50px 15px;
  text-align: center;
}

.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
.right button {
    width: 150px;
	padding: 12px 0;
}   
}
/* footer { */
	/* max-width: 1200px; */
/* } */

footer a, a:active, a:visited {
	text-decoration: none;
	color: #fff;
}
footer a:hover {
	color: #fff;
}